.main-chat
  .main-header
    .left-header
      
      .group__name
        = @group.name
      .group__member
        - @group.users.each do |user|
          = user.name
    .right-header
      .right-header__btn
        = link_to 'Edit', edit_group_path(@group.id), class: 'edit-btn'


        
          

  .main-message
    = render @messages



  .main-footer
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .chat-form
        = f.text_field :content, class: 'chat-form__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-form__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'chat-form__image__file'
      = f.submit 'send', class: 'submit-btn'    
